<strong>STEP 1: Choose a Trial, Gaugelength, Young's Modulus</strong>

<p>
<% graph = create_hash(Rails.root.to_s.concat("/public").concat(@dpm.filename.url)) %>
<%= line_chart graph.map.with_index {|ea, i| {:name => i+1, :data => ea}}, {discrete: true, library: {pointSize: 0, title: "Engineering Stress vs. Strain", hAxis: {title: "Strain"}, vAxis: {title: "Stress (MPa)"}}} %>
</p>


<%= form_for(@dpm, :url => step1_path(:id => @dpm.id), :method => 'put') do |f| %>
  <% if @dpm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dpm.errors.count, "error") %> prohibited this dpm from being saved:</h2>

      <ul>
      <% @dpm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-lg-3">
    <div class="field">
      <p>Please Choose a graph</p>
    	<%= f.label :graph_number %><br>
      <%= f.number_field :graph_number %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
      <p> Please enter Young's Modulus in GPa</p>
      <%= f.label :youngs_modulus %><br>
      <%= f.number_field :youngs_modulus %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
      <p> Please enter gaugelength in mm </p>
      <%= f.label :gauge_length %><br>
      <%= f.number_field :gauge_length %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Next Step" %>
  </div>
<% end %>

<%= link_to 'Change input file', edit_dpm_path(@dpm) %>