<!--process: 
-create hash and get the graph number (-1) to show one graph
-calculate Tstress, Tstrain, Pstrain 
-get hardstress/hardstrain points
-get all values needed to solve system of equations (calculated) 
-solve for the 3 sets of systems 
-plot these 3 final graphs once they are calculated
-->
<strong>STEP 5: Finalize Output </strong>
<% graph = create_hash(Rails.root.to_s.concat("/public").concat(@dpm.filename.url)) %>
<% trial = graph[@dpm.graph_number - 1] %>
<% pstrain = tp_strain(trial, @dpm.youngs_modulus) %>

<% tstrain = getTstrain(trial) %>

<% hardstress = removePastX(pstrain, @dpm.necking_point) %>

<% plus = (@dpm.fitting_param * (1 + (@dpm.threshold/100.0)))%>
<% minus = (@dpm.fitting_param * (1 - (@dpm.threshold/100.0)))%>

<% normal = getSystemVars(trial, pstrain, tstrain, hardstress, @dpm.necking_point, @dpm.gauge_length, @dpm.fitting_param, @dpm.youngs_modulus) %>
<% plusfit = getSystemVars(trial, pstrain, tstrain, hardstress, @dpm.necking_point, @dpm.gauge_length, plus, @dpm.youngs_modulus) %>
<% minusfit = getSystemVars(trial, pstrain, tstrain, hardstress, @dpm.necking_point, @dpm.gauge_length, minus, @dpm.youngs_modulus) %>

<% swiftscos = [] %>
<% swiftscos << getSwifts(normal[0], normal[1], normal[2], normal[3]) %>
<% swiftscos << getSwifts(plusfit[0], plusfit[1], plusfit[2], plusfit[3]) %>
<% swiftscos << getSwifts(minusfit[0], minusfit[1], minusfit[2], minusfit[3]) %>

<% swiftgraphs = [] %>

<% swiftgraphs << createSwiftPoints(@dpm.necking_point, 500, hardstress.length, swiftscos[0]) %>
<% swiftgraphs << createSwiftPoints(@dpm.necking_point, 500, hardstress.length, swiftscos[1]) %>
<% swiftgraphs << createSwiftPoints(@dpm.necking_point, 500, hardstress.length, swiftscos[2]) %>
<% hardstress.delete(@dpm.necking_point)%>
<%  finalgraphs = []%>
<%  finalgraphs << rounder(hardstress.merge(swiftgraphs[0]), 4)%>
<%  finalgraphs << rounder(hardstress.merge(swiftgraphs[1]), 4)%>
<%  finalgraphs << rounder(hardstress.merge(swiftgraphs[2]), 4)%>
<p>
<%= line_chart finalgraphs.map.with_index {|ea, i| {:name => i+1, :data => ea}}, {discrete: true, library: {pointSize: 0, title: "Final Material Hardening Curves", vAxis:{title: "True Stress (MPa)"}, hAxis:{title: "True Plastic Strain"}}} %>
</p>


<%= form_for(@dpm, :url => step5_path(:id => @dpm.id), :method => 'put') do |f| %>
  <% if @dpm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dpm.errors.count, "error") %> prohibited this dpm from being saved:</h2>

      <ul>
      <% @dpm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :mid %><br>
    <%= f.number_field :mid, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :ro %><br>
    <%= f.number_field :ro, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eee %><br>
    <%= f.number_field :eee, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :pr %><br>
    <%= f.number_field :pr, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :sigy %><br>
    <%= f.number_field :sigy, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :etan %><br>
    <%= f.number_field :etan, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :fail %><br>
    <%= f.number_field :fail, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :tdel %><br>
    <%= f.number_field :tdel, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :c %><br>
    <%= f.number_field :c, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :p %><br>
    <%= f.number_field :p, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :lcss %><br>
    <%= f.number_field :lcss, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :lcsr %><br>
    <%= f.number_field :lcsr, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :vp %><br>
    <%= f.number_field :vp, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :lcf %><br>
    <%= f.number_field :lcf, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eps1 %><br>
    <%= f.number_field :eps1, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eps2 %><br>
    <%= f.number_field :eps2, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eps3 %><br>
    <%= f.number_field :eps3, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eps4 %><br>
    <%= f.number_field :eps4, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eps5 %><br>
    <%= f.number_field :eps5, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eps6 %><br>
    <%= f.number_field :eps6, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eps7 %><br>
    <%= f.number_field :eps7, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :eps8 %><br>
    <%= f.number_field :eps8, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :es1 %><br>
    <%= f.number_field :es1, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :es2 %><br>
    <%= f.number_field :es2, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :es3 %><br>
    <%= f.number_field :es3, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :es4 %><br>
    <%= f.number_field :es5, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :es6 %><br>
    <%= f.number_field :es6, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :es7 %><br>
    <%= f.number_field :es7, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :es8 %><br>
    <%= f.number_field :es8, :step => 'any' %>
    </div>
  </div>
</div>
<div class="col-lg-3">
    <div class="field">
    <%= f.label :lcid %><br>
    <%= f.number_field :lcid, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :sidr %><br>
    <%= f.number_field :sidr, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :sfa %><br>
    <%= f.number_field :sfa, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :sfo %><br>
    <%= f.number_field :sfo, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :offa %><br>
    <%= f.number_field :es6, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :offo %><br>
    <%= f.number_field :es6, :step => 'any' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="field">
    <%= f.label :dattyp %><br>
    <%= f.number_field :es6, :step => 'any' %>
    </div>
  </div>

</br></br></br></br>

<div class="actions">
    <%= f.submit "Finish" %>
</div>
<% end %>